header {
    background-color:#540908;
    color:white;
    text-align:center;
    padding:5px; 
}
a:link{ 
	color:#0B1873; background-color:transparent
}
a:visited {
	color:#494B78; background-color:transparent
}
a:hover   {
	color:#9597DE; background-color:transparent
}
a:active  {
	color:#9597DE; background-color:transparent
	}

nav {
    line-height:30px;
    background-color:#BDB3B8;
    height:300px;
    width:100px;
    float:left;
    padding:5px; 
}
section {
    width:350px;
    float:left;
    padding:10px; 
}
footer {
    background-color:#540908;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}